@import "base"



body
  background-color: #fafafa
  font-family: 'Open Sans', sans-serif

  .wrapper
    margin: 21px 130px

    .advertising
      height: 143px
      margin-bottom: 21px
      width: 1280px
      position: relative

      .adv-logo
        position: relative
        left: 27px
        bottom: 117px
        //height: 298px

        .bmw
          height: 298px

      .text
        position: absolute
        left: 306px
        bottom: 37px

        .text-top-p
          font-size: 36px

        .text-bot-p
          font-size: 18px

    .header
      width: 1280px

      .info-top
        color: #212121
        font-weight: 600
        height: 61px
        background-color: #fcfcfc

        .info-top-left
          font-size: 14px
          margin: 23px 0 0 19px
          float: left
          text-align: left
          //position: relative


          .el
            float: left
            margin-right: 40px
          .date
            color: #bdbdbd

          .wheather
            color: #212121
            //margin-right: 22px
            border: 1px solid #efefef
            border-bottom: none
            border-top: none
            padding: 0 27px

            .left
              display: block
              margin-left: 20px
              float: right

          .money-course

            .money
              margin: 0 8px

            .zmdi-caret-up
              color: #00a13c

            .zmdi-money
              color: #bdbdbd

          .btn-primary
            border: none
            border-radius: 50px
            font-size: 14px
            color: #212121
            background-color: #fff9c4
            position: relative
            bottom: 6px


        .info-top-right
          font-size: 14px
          text-align: right
          margin: 23px 19px 0 0
          .el-right
            float: left
            margin-right: 40px

          .plus
            color: #00a13c

          .language
            margin-right: 14px
            &:last-child
              margin-right: 0

          .vertical-line
            border-left: 1px solid #efefef
            padding-left: 14px

    .menu
      height: 92px
      background-color: #ffffff
      border-spacing: 10px
      padding: 0 19px

      .logo-min,.menu-ctg,.btn, .beta
        float: left

      .logo-min
        font-family: "DidactGothicRegular"
        font-weight: bold
        font-size: 33px
        padding: 13px 0

      .beta
        font-family: "GothamProBlack"
        font-size: 11px
        margin-top: 16px
        margin-right: 63px

      .menu-ctg
        //margin-right: 18px
        font-size: 18px
        margin: 24px 18px 24px 0
        font-weight: 600

      .green
        color: #03ac42

        &:last-child
          margin-right: 0

      .sing-up
        margin: 20px 0
        .btn
          border: 1px solid #efefef
          padding: 15px 28px
          color: #212121
          font-size: 16px
          background-color: transparent
          font-weight: 600

        .btn-reg
          background-color: #029c40
          color: #ffffff
          margin-left: 10px

    .content
      color: #212121
      background-color: #ffffff
      font-family: $font-for-block

      .cont-wrapper
        width: 1259px
        border-top: 1px solid #efefef
        margin: 0 21px 0 21px
        padding: 23px 0

        .small-block
          position: relative

          img.small-pic

          .discription
            position: absolute
            left: 119px
            top: 18px

            .title
              font-weight: 600
              font-size: 14px
              margin-bottom: 6px

            .text
              font-size: 14px
              color: #212121
              margin-bottom: 14px

            .test
              font-size: 10px
              color: #bdbdbd
              text-transform: uppercase

        .big-block
          width: 300px

          .big-pic

          .entry-dis
            padding: 14px 14px 42px 14px
            margin: 0 auto
            //width: 271px

            .autor
              border-bottom: 1px solid #efefef

              .autor-pic
                padding-bottom: 16px


              .autor-info
                float: right
                margin-right: 92px

                .name
                  font-size: 12px
                  font-family: "GothamProMedium"

                .date
                  font-size: 12px
                  font-family: "GothamProLight"

            .analitics
              padding-top: 15px

              .an-category
                font-size: 10px
                color: #00a13c
                //font-family: $font-for-block
                display: flex
                float: left
                margin-right: 67px
                margin-top: 2px

              .an-eye
                //font-family: $font-for-block
                display: flex
                float: left
                margin-right: 26px
                color: #bdbdbd
                .an-icon
                  float: left
                  margin-right: 12px

              .an-share
                //font-family: $font-for-block
                color: #bdbdbd
                .an-icon
                  float: left
                  margin-right: 12px

              .text
                padding-top: 24px
                font-size: 24px
                color: #212121
                //font-family: $font-for-block

                .text-last-row
                  font-size: 13px
                  //font-weight: bold

      .big-block-kind-two
        @extend .big-block

      .very-small-block
        padding: 27px 14px 20px
        border-top: 1px solid #efefef
        width: 300px

        .icon-very-sm-bl
          border-radius: 35px
          background-color: #fafafa
          display: table
          height: 52px
          width: 52px
          text-align: center
          padding-top: 16px
          color: #000000
          float: left
          margin-right: 22px
          margin-top: 9px



        .text-very-sm-bl
          font-size: 16px

      .big-block-big-img
        position: relative

        .big-img-dis
          position: absolute
          bottom: 30px
          left: 21px

          .img-dis-title
            color: rgba(255, 255, 255, 0.45)
            font-size: 10px

          .img-dis-text
            font-size: 24px
            color: #ffffff
            font-family: "GothamProMedium"

          .img-dis-last-row
            color: #ffffff
            font-size: 13px





    .refresh
      text-align: center
      font-size: 32px
      font-weight: 700
      height: 163px

      .more-news
        text-transform: uppercase
        font-size: 15px

      .zmdi-replay
        padding-top: 48px

    .footer
      background-color: #f5f5f5
      .bottom-menu
        font-size: 14px
        color: #171717
        border: 1px solid #efefef
        border-right: none
        border-left: none
        height: 70px
        font-weight: 600

        .menu-ctg
          margin-right: 50px
          float: left
          padding: 28px 0

      .bottom-menu-big
        .categories
          .all-devices
            font-family: "GothamProBlack"
            font-size: 24px
            font-weight: bold
            background-color: black
            color: #ffffff
            border: 3px solid #f5f5f5
            display: table
            padding: 0 8px

          .pad
            margin-top: 69px


            &:last-child
              margin-bottom: 70px

          .pd,.services
            .bot-title
              font-size: 18px
              color: #000
              font-weight: 600
              margin-top: 70px
              margin-bottom: 49px

            .pd-ctg
              font-family: "GothamPro"
              font-size: 14px
              font-weight: bold
              color: #616161

          .services
            .bot-title
            .ser-ctg
              @extend .pd-ctg
              color: #171717

          .adv-ban-bot
            margin-top: 75px

            .adv-bot
              margin-bottom: 37px
              color: #000000
              font-size: 18px
              font-weight: bold

            .ban-bot
              font-size: 14px
              color: #616161
              font-family: "GothamPro"


          .age
            font-size: 18px
            border-radius: 40px
            background-color: #171717
            color: #ffffff
            display: table
            padding: 10px
            margin: 90px 29px 0 0

      .big-picture
        margin-top: 30px

      .brand
        text-align: center
        padding-top: 58px

        .apple
          margin-right: 15px

        .apple,.google
          border: 1px solid #efefef
          padding: 8px



      .rules
        font-size: 12px
        color: #b6b6b6
        text-align: center
        padding-top: 50px
        padding-bottom: 66px







